{% extends 'base.html'%}
{% block title %} Vendo o usuário {% endblock %}

{% block content %}

<div class="container">

    <div class="card">
        <div class="card-header">
            <h3>Informações do usuário</h3>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <p><strong>Nome:</strong> {{user.name}}</p>
                </div>
                <div class="col-12">
                    <p><strong>Username:</strong> {{user.username}}</p>
                </div>
                <div class="col-12">
                    <p><strong>Email:</strong> {{user.email}}</p>
                </div>
                <div class="col-12">
                    <p><strong>Telefone:</strong> {{user.phone}}</p>
                </div>
                <div class="col-12">
                    <p><strong>Site:</strong> {{user.website}}</p>
                </div>

            </div>
        </div>
    </div>
    <ul class="nav justify-content-center bg-light ">
        <li class="nav-item bg-primary rounded m-2">
            <a class="nav-link text-white" href="/users">Voltar</a>
        </li>
        <li class="nav-item bg-danger rounded m-2">
          <a class="nav-link text-white" id="btn_delete_user">Deletar usuario</a>
        </li>
      </ul>
</div>
#faça com que ao clicar no botão de deletar envie-se um post para a rota /users/<id>/delete e redirecione para a rota /users
<script>
    var btn_delete = document.getElementById("btn_delete_user");
    btn_delete.addEventListener("click", function () {
        window.location.href = "/users";
        method: "POST";
    });
</script>
{% endblock %}