{% extends 'base.html'%}

{% block content %}
<ul class="nav justify-content-center bg-dark ">
  <li class="nav-item bg-success rounded m-2">
    <a class="nav-link text-white" href="/users/new">Criar usuario</a>
  </li>
  </li>
  <li class="nav-item bg-dark rounded m-2">
    <a class="nav-link text-white">Acesso Rapido</a>
  </li>
  <li>
    <form class="d-flex">
      <input class="form-control m-2" placeholder="User Id" aria-label="User_id" id="id_user_action">
    </form>
  </li>
  <li class="nav-item bg-info rounded m-2">
    <a class="nav-link text-white" id="btn_ver_user">Ver usuario</a>
  </li>
  <li class="nav-item bg-warning rounded m-2">
    <a class="nav-link text-white" id="btn_update_user">Atualizar usuario</a>
  </li>
  <li class="nav-item bg-danger rounded m-2">
    <a class="nav-link text-white" id="btn_delete_user">Deletar usuario</a>
  </li>
</ul>
<div class="col-12 py-3">
  {% if message %}
  <div class="alert {{class_alert}}" role="alert">
    {{ message }}
  </div>
  {% endif %}
</div>
<div class="container">
  <div class="col-12">
    <h1>Usuários</h1>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Website</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th scope="row">{{user.id}}</th>
          <td>{{user.name}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.website}}</td>
          <td>
            <a href="/users/{{ user.id }}" class="btn btn-primary">Mais detalhes</a>
          </td>

        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
#faça com que o botão de atualizar tarefa colete os dados do campo de id e atualize a tarefa com o id correspondente
<script>
  var id_todo_action = document.getElementById("id_user_action");
  var btn_update = document.getElementById("btn_update_user");
  btn_update.addEventListener("click", function () {
    var id_user = id_user_action.value;
    console.log(id_user);
    window.location.href = "/users/update/" + id_user;
  });
</script>
#faça com que o botão de deletar tarefa colete os dados do campo de id e delete a tarefa com o id correspondente
<script>
  var id_todo_action = document.getElementById("id_user_action");
  var btn_delete = document.getElementById("btn_delete_user");
  btn_delete.addEventListener("click", function () {
    var id_user = id_user_action.value;
    console.log(id_user);
    window.location.href = "/users/delete/" + id_user;
  });
</script>
#faça com que o botão de ver tarefa colete os dados do campo de id e mostre a tarefa com o id correspondente
<script>
  var id_todo_action = document.getElementById("id_todo_action");
  var btn_update = document.getElementById("btn_ver_user");
  btn_update.addEventListener("click", function () {
    var id_user = id_user_action.value;
    console.log(id_user);
    window.location.href = "/users/" + id_user;
  });
</script>

{% endblock %}